/* Custom CSS */

/* Navbar Brand */
.navbar-brand {
    font-weight: bold;
}

/* Mobile Menu Dropdown */
.dropdown-menu {
    width: 100%; /* Take up entire width */
    background-color: #f8f9fa; /* Example background color */
}

/* Page Heading */
.text-center {
    margin-top: 20px;
}

/* Main Section Background */
.main-section {
    padding: 50px 0;
}

/* Back to Top Link */
.main-section a {
    display: block;
    text-align: center;
    margin-top: 20px;
}
